<div class="col-md-6">

    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="search by group name"
        [(ngModel)]="searchTerm" 
      />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchGroups()">
          search
        </button>
        <button class="btn btn-outline-secondary" type="button" (click)="getGroups()">
            reset
        </button>
      </div>
    </div>

    <div class="card mb-4" *ngFor="let group of groups; let i = index">
      <div class="card-body">
        <h5 class="card-title">{{ group.group }}</h5>
        <div *ngIf="group.name">
          <p class="card-text"><strong>name:</strong> {{ group.name }}</p>
        </div>
        <div *ngIf="group.description">
          <p class="card-text"><strong>description</strong> {{ group.description }}</p>
        </div>
      </div>
    </div>
  </div>
  