<div class="col-md-6">
  <!-- Add buttons for filtering -->
  <div style="margin-bottom: 20px">
    <button
      class="btn btn-outline-secondary mr-2"
      (click)="filterByType('public')"
    >
      Show Public Groups
    </button>
    <button
      class="btn btn-outline-secondary mr-2"
      (click)="filterByType('private')"
    >
      Show Private Groups
    </button>
    <button class="btn btn-outline-secondary" (click)="showAllGroups()">
      Show All Groups
    </button>
  </div>

  <div class="card mb-4" *ngFor="let group of filteredGroups; let i = index">
    <div class="card-body">
      <h5 class="card-title">{{ group.group }}</h5>
      <div *ngIf="group.name">
        <p class="card-text"><strong>name:</strong> {{ group.name }}</p>
      </div>
      <div *ngIf="group.description">
        <p class="card-text">
          <strong>description</strong> {{ group.description }}
        </p>
      </div>
      <div *ngIf="group.type">
        <p class="card-text">
          <strong>Type:</strong> {{ getTypeName(group.type) }}
        </p>
      </div>
    </div>
  </div>
</div>
